FIREBASE_AUTH_REQUIRED=true
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
SUPABASE_STORAGE_URL=
SUPABASE_STORAGE_SECRET_KEY=
SUPABASE_STORAGE_BUCKET=portfolio-submissions
ADMIN_MODE_PASSWORD=
PORTFOLIO_UPLOADS_ENABLED=false
